@use "../../../sass/abstracts/mixins";

.header {
  // background-color: lightblue;
  height: 7rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
  margin-bottom: 20rem;
  @include mixins.breakpoint(laptop) {
    margin-bottom: 0;
  }
}
